$active-indicator-color: #d0021b;

.activeIndicator {
  background-color: $active-indicator-color !important;
  animation: pulse 2s infinite ease-in-out;
}
 
.dicordShowCase {
  width: 1024px !important;
}

body {
  background: rgb(27, 28, 29);
}

.showcase{
  background: url('~/static/img/showcase.jpg') !important;
  z-index: 1;
}

.ui.menu {
  border: 0px !important;
  box-shadow: 0px 0px 0px 0px transparent;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0px;
  //   top: 0px;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba(0, 0, 0, 0.3);
  //   z-index: 0;
  // }
}